<!-- Find me in app/views/fitbit_auth/get_response.html.erb -->
<h4>Thank you! </h4>
<%= link_to "Back", root_path %>

<li>Username: <%= @user[:username] %></li>
<li>Gender: <%= @user[:gender] %></li>
<li>Date of Birth: <%= @user[:dob] %></li>

<h4>Sleep Summary</h4>
<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>awakeDuration</th>
    		<th>awakeningsCount</th>
    		<th>totalMinutesAsleep</th>
    		<th>totalTimeInBed</th>
    	</tr>
	</thead>
	<tbody>
		<% @sleeps.each do |s| %>
		<tr>
			<td><%= s[:date] %></td>
			<td><%= s[:awakeDuration] %></td>
			<td><%= s[:awakeningsCount] %></td>
			<td><%= s[:totalMinutesAsleep] %></td>
			<td><%= s[:totalTimeInBed] %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<h4>Activities Summary</h4>
<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>Steps</th>
			<th>Faily Active Minutes</th>
			<th>Lightly Active Minutes</th>
			<th>Sedentary Minutes</th>
    		<th>Very Active Minutes</th>
    	</tr>
    </thead>
    <tbody>
    	<% @activities.each do |a| %>
    	<tr>
    		<td><%= a[:date] %></td>
    		<td><%= a[:steps] %></td>
    		<td><%= a[:failyActiveMinutes] %></td>
    		<td><%= a[:lightlyActiveMinutes] %></td>
    		<td><%= a[:sedentaryMinutes] %></td>
    		<td><%= a[:veryActiveMinutes] %></td>
    	</tr>
    	<% end %>
    </tbody>
</table>

